$primary: #8bc34a
$primary-invert: #ffffff
$info: #783f7d
$warning: #ff9800

$navbar-item-color: $primary-invert
$title-color: $info
$subtitle-color: $title-color
$navbar-item-hover-background-color: $primary
$navbar-item-hover-color: $primary-invert
$navbar-dropdown-arrow: $primary-invert
$navbar-dropdown-background-color: $primary
$navbar-burger-color: $info
$navbar-item-active-background-color: $primary
$navbar-item-active-color: $primary-invert
@import "~bulma"

nav
  border-bottom: lightgray solid 0.1vmin

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important

.is-horizontal-img-center 
  justify-content: center

.intro
  background-color: #8bc34a;
  background-image: linear-gradient(90deg, $warning 50%, transparent 50%), linear-gradient(-60deg, #8bc34a 30%, transparent 30%);

.front-footer-logo
  background: #8BC34A
  height: 210px
  display: inline-block
  vertical-align: middle
  width: 30%
  position: relative
  margin-top: -10px

.front_footer_logo_top
  width: 0
  height: 0
  border-style: solid
  border-color: transparent transparent transparent #8BC34A
  position: absolute
  top: -50px

.front_footer_logo_right
  width: 0
  height: 0
  border-style: solid
  border-width: 210px 0 0 20px
  border-color: transparent transparent transparent #8BC34A
  position: absolute
  right: -20px

+tablet
  .front_footer_links
    height: 210px
    display: inline-block
    vertical-align: middle
    width: 40%
    position: relative
    margin-top: -10px

+desktop
  .front_footer_contact
    width: 20%
    background: #8BC34A
    height: 210px
    width: 20%
    display: inline-block
    vertical-align: middle
    position: relative
    margin-top: -10px

.front_footer_contact_top
  width: 0
  height: 0
  border-style: solid
  border-width: 0 0 20px 500px
  border-color: transparent transparent #8BC34A transparent
  position: absolute
  top: -20px

.front_footer_contact_left
  width: 0
  height: 0
  border-style: solid
  border-width: 0 0 210px 100px
  border-color: transparent transparent #8BC34A transparent
  position: absolute
  left: -100px

.front_footer_contact_right
  width: 0
  height: 0
  border-style: solid
  border-width: 210px 0 0 20px
  border-color: transparent transparent transparent #8BC34A
  position: absolute
  right: -20px

.front_footer_contact_content
  padding: 20px;
  font-size: 14px
  font-family: 'Gotham-Medium'

.front_footer_contact_after
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  width: 10%;

ul.front_footer_menu
  display: inline-block
  vertical-align: top
  width: 50%

.choose-us-banner
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

.stats-banner
  background-color: #783f7d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23963c85' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23b03879' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23cd315c' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23dd3738' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23eb6c3f' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23f6a54a' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23ffdd57' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

.generic-banner
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

.course-banner
  background-color: #8bc34a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23b1bd44' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23b39543' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23a76843' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%239c4342' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%2392425e' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23874073' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23783f7d' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;